body{
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    /* background: url(../img/slider-image1.jpg) no-repeat center center fixed;
    background-size : cover; */
    
    
}

.container-fluid{
    padding: 0;
    margin: 0;
}
.navbar {
    width: 100%;
    background-color: #337ab7;
    border-radius: 0;
    border: 1px solid #ffffff;
}
.navbar-inverse .navbar-nav > .active > a{
    background-color: #337ab7;
}
.navbar-inverse .navbar-nav > li > a{
    color: #ffffff;
}
.navbar-nav > li > a{
    padding-right: 30px;
}

.connect{
    color: white;
    margin-top: 15px;
    font-size: 1em;
}
.navbar-inverse .navbar-nav > .active > a:hover{
    background-color: #21527e;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #21527e;
}
.bloc_card{
    width: 80%;
    margin: 0 auto;
    margin-top: -20px;
}
.new1{
    float: left;
    width: 30%;
    padding: 0px;
    margin: 1.1em;
    border: 1px solid lightgrey;
    border-radius: 3px;
    
}
.new1>img{
    width: 326px;
    padding: 0;
    margin: 0;

}
.new1>h1{
    font-size: 2em;
    padding: 0px 15px;
    color: #000000;
}
.new1>p{
    font-size: 1.1em;
    padding: 0px 15px;
    color: #000000;
    text-align: justify;
}
.new1>h3{
    font-size: 1.1em;
    padding: 0px 15px;
    font-weight: bold;
    color: #000000; 
}
